input{
    width: 400px;
    height: 60px;
    background-color: hsl(189, 41%, 94%);
    border:none;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    transition: border 350ms ease-in-out;
    border-radius: 10px;
    outline:none !important;
    outline-offset: 0 !important;
    text-align: right;
    
}

input:focus{
    outline:none !important;
    border: 3px solid hsl(176, 37%, 51%);
    outline-offset: 0 !important;
}

input::placeholder{
    color: hsl(186, 21%, 66%);
    text-align: right;
    padding-right: 1rem;
}

.iconTrick{
    position: absolute;
    padding-left: 15px;
    padding-top: 30px;
}